@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+TC&family=Roboto&display=swap');

body{
    font-family: 'Noto Sans TC', 'Roboto', 'Lobster' ,sans-serif, cursive;
}
.font-NotoSans{
    font-family: 'Noto Sans TC';
}
.font-roboto{
    font-family: 'Roboto';
}
.font-Lobster{
    font-family: 'Lobster';
}